{% extends 'base.html.twig' %}

{% block title %}Управление сертификатами{% endblock %}

{% block body %}
    <h1>Управление сертификатами ({{ pagination.totalItemCount }})</h1><br>
    <a class="btn btn-success" href='{{ path('app_admin_certificates_create') }}'>Добавить</a>
    <a class="btn btn-success" href='{{ path('app_admin_certificates_import') }}'>Импорт из xls</a><br><br>
    {% include 'partial/admin_certificate_filter_form.html.twig' %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Файл</th>
        </tr>
        </thead>
        <tbody>
        {% for certificate in pagination %}
            <tr>
                <td>
                    {{ certificate.id }}
                </td>
                <td>
                    <a href="{{ path('app_admin_certificates_edit', { id: certificate.id }) }}">
                        {{ certificate.title }}
                    </a>
                </td>
                <td>
                    <a href="{{ uploaded_asset('certificate_final', certificate.fileName)}}" target="_blank">{{ certificate.fileName }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Нет сертификатов</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}

